@page "/"

@using DanilvarKanji.Client.Data
@using DanilvarKanji.Client.Localization.LocaleKeys
@using DanilvarKanji.Client.Services.Characters
@using DanilvarKanji.Shared.Responses.Character
@using DanilvarKanji.Shared.Responses.CharacterLearning

@inject IStringLocalizer<Index> Loc
@inject NavigationManager NavManager

<PageTitle>@AppDisplaySettings.AppTitle - @Loc[nameof(IndexLocaleKeys.HomeTitle)]</PageTitle>

<div class="text-center">

    <Authorized>
        <h1 class="display-4 txt-white main-font ">
            @Loc["Hello"],
            <b class="animated-blink">
                <GetUserName/>
            </b>
        </h1>
    </Authorized>

    <NotAuthorized>
        <h1 class="display-4 txt-white main-font ">
            @Loc[nameof(IndexLocaleKeys.WelcomeToApp)] <b class="animated-blink">@AppDisplaySettings.AppTitle</b>
        </h1>

        <NavLink href="register" class="btn three-d-btn no-outline">@Loc["Register"]</NavLink>
        <NavLink href="login" class="btn three-d-btn no-outline">@Loc["Login"]</NavLink>

    </NotAuthorized>

    @*<ScrollSection ImageSource="https://th.bing.com/th/id/OIG.OXBS3CECFtEOQyxwy7Vm?pid=ImgGn" Title="Some Text" Text="HAHAHHA"/>
    <ScrollSection ImageSource="https://th.bing.com/th/id/OIG.KwaNSjUB_tPiHkOFwxsf?pid=ImgGn" Title="Some Text" Text="HAHAHHA" FromRight="false"/>
    <ScrollSection ImageSource="https://th.bing.com/th/id/OIG.ieffDyC8ODj4idx7X4xL?pid=ImgGn" Title="Some Text" Text="HAHAHHA"/>
    *@

</div>

<Authorized>
    <h2 class="display-6 txt-white main-font">
        Your Study Queue
    </h2>

    <div class="ms-2 pb-4">
        <button onclick="@(() => { if (_characterToLearn != null) {NavManager.NavigateTo($"/study-new/{_characterToLearn.Id}"); } })"
                class="btn mid-three-d-btn no-outline mb-2">
            Study New
        </button>
    </div>
    
    <DisplayLearnQueue PageNumber="1" PageSize="10"/>

    <h2 class="display-6 txt-white main-font">
        Your Review Queue
    </h2>

    <div class="ms-2 pb-4">
        <button onclick="@(() => { if (_characterToLearn != null) {NavManager.NavigateTo($"/review/{_learning?.Id}"); } })"
                class="btn mid-three-d-btn no-outline mb-2">
            Review
        </button>
    </div>
    
    <DisplayReviewQueue/>

</Authorized>

@code
{
    [Inject]
    public required ICharacterService CharacterService { get; set; }
    
    [Inject]
    public required ICharacterLearningService CharacterLearningService { get; set; }

    private GetCharacterBaseInfoResponse? _characterToLearn;
    private GetCharacterLearningBaseInfoResponse? _learning;

    protected override async Task OnInitializedAsync()
    {
        await GetCharacterNextInLearn();
    }

    private async Task GetCharacterNextInLearn()
    {
        _characterToLearn = await CharacterService.GetNextInLearnQueue();
        _learning = await CharacterLearningService.GetNextInReviewQueueAsync();
    }

}