@page "/characters/add-character"
@using DanilvarKanji.Client.Data
@using DanilvarKanji.Shared.DTO
@using DanilvarKanji.Shared.Models
@using DanilvarKanji.Shared.Models.Enums

<PageTitle>Add Character - @AppDisplaySettings.AppTitle</PageTitle>

<h1 class="mt-5 mb-4 animated-blink main-font display-3">
    Add Character
</h1>

<EditForm Model="_character" OnValidSubmit="HandleSubmit">
    <FluentValidationValidator/>

    <FormSection Title="Character Basic Details" HelpText="Character basic details common for all cultures">

        <FormFieldSet Label="Definition" LabelFor="characterDefinition" HelpText="">
            <InputText @bind-Value="_character.Definition" class="form-control bg-secondary txt-white jap-font no-border" id="characterDefinition" placeholder="見"/>
            <ValidationMessage For="@(() => _character.Definition)"/>
        </FormFieldSet>

        <FormFieldSet Label="JLPT Level" LabelFor="JlptLevel" HelpText="">
            <InputSelect @bind-Value="_character.JlptLevel" class="form-control bg-secondary txt-white no-border" id="jlptLevel">
                <option value="@JlptLevel.N5">JLPT N5</option>
                <option value="@JlptLevel.N4">JLPT N4</option>
                <option value="@JlptLevel.N3">JLPT N3</option>
                <option value="@JlptLevel.N2">JLPT N2</option>
                <option value="@JlptLevel.N1">JLPT N1</option>
            </InputSelect>
        </FormFieldSet>

        <FormFieldSet Label="Character Type" LabelFor="characterType" HelpText="">
            <InputSelect @bind-Value="_character.CharacterType" class="form-control bg-secondary txt-white no-border" id="characterType">
                <option value="@CharacterType.Kanji">Kanji</option>
                <option value="@CharacterType.Radical">Radical</option>
            </InputSelect>
        </FormFieldSet>

        <FormFieldSet Label="Stroke Count" LabelFor="strokeCount" HelpText="">
            <InputNumber @bind-Value="_character.StrokeCount" class="form-control bg-secondary txt-white no-border" id="strokeCount" placeholder="Stroke Count"/>
            <ValidationMessage For="@(() => _character.StrokeCount)"/>
        </FormFieldSet>
    </FormSection>

    <FormSection Title="Character Definitions" HelpText="Add Character Definitions with different cultures">
        <DynamicStringDefinition StringDefinitions="_character.Mnemonics" AddButtonText="Add Mnemonic"/>
        <ValidationMessage For="@(() => _character.Mnemonics)"/>
    </FormSection>

    @if (_character.CharacterType == CharacterType.Kanji)
    {
        <FormSection Title="Kunyomi Readings" HelpText="Add kunyomi readings">
            <AddKunyomis Kunyomis="_character.Kunyomis"/>
        </FormSection>

        <FormSection Title="Onyomi Readings" HelpText="Add onyomi readings">
            <AddOnyomis Onyomis="_character.Onyomis"/>
        </FormSection>
    }
    <div class="mt-4 mb-5">
        <div class="row">
            <div class="offset-4 col-8 text-right">
                <button class="btn btn-outline-secondary" type="button" @onclick="@(() => _character = new CharacterDto())">Reset</button>
                <button class="btn btn-primary animated-blink-bg txt-dark" type="submit">Submit</button>
            </div>
        </div>
    </div>
</EditForm>