@page "/characters/add-character"
@using DanilvarKanji.Client.Data
@using DanilvarKanji.Shared.DTO
@using DanilvarKanji.Shared.Models
@using DanilvarKanji.Shared.Models.Enums

<PageTitle>Add Character - @AppDisplaySettings.AppTitle</PageTitle>

<h3 class="mt-5 mb-4">Add Character</h3>

<EditForm Model="_character" OnValidSubmit="HandleSubmit">
    <FormSection Title="Character Definitions" HelpText="Add Character Definitions with different cultures">
        <FormFieldSet Width="col-6">
            @{ var i = 0; }
            @foreach (StringDefinition definition in _character.Definitions)
            {
                i++;
                <div class="row">
                    <div class="col-2">
                        <div class="form-group">
                            <label class="font-weight-bold text-secondary">Definition</label>
                            <p>@i</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="routeInstructionDescription" class="font-weight-bold text-secondary">Value</label>
                            <InputText @bind-Value="definition.Value" class="form-control" id="routeInstructionDescription"/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="routeInstructionDescription" class="font-weight-bold text-secondary">Value</label>
                            <InputSelect @bind-Value="definition.Culture" class="form-control" id="routeInstructionDescription">
                                <option value="@Culture.EnUS">English</option>
                                <option value="@Culture.RuRU">Russian</option>
                            </InputSelect>
                        </div>
                    </div>

                    <div class="col-1 d-flex mt-3">
                        <button @onclick="@(() => _character.Definitions.Remove(definition))" class="btn btn-link" type="button">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill text-danger" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col">
                    <button class="btn btn-outline-primary" type="button" @onclick="@(() => _character.Definitions.Add(new StringDefinition()))">Add Definition</button>
                </div>
            </div>
        </FormFieldSet>
    </FormSection>
    <FormSection Title="Character Basic Details" HelpText="Character basic details common for all cultures">

        <FormFieldSet Width="col-3">
            <label for="routeInstructionDescription" class="font-weight-bold text-secondary">Jlpt Level</label>
            <InputSelect @bind-Value="_character.JlptLevel">
                <option value="@JlptLevel.N5">JLPT N5</option>
                <option value="@JlptLevel.N4">JLPT N4</option>
                <option value="@JlptLevel.N3">JLPT N3</option>
                <option value="@JlptLevel.N2">JLPT N2</option>
                <option value="@JlptLevel.N1">JLPT N1</option>
            </InputSelect>
        </FormFieldSet>

        <FormFieldSet Width="col-3">
            <label for="routeInstructionDescription" class="font-weight-bold text-secondary">Character Type</label>
            <InputSelect @bind-Value="_character.CharacterType">
                <option value="@CharacterType.Kanji">Kanji</option>
                <option value="@CharacterType.Radical">Radical</option>
            </InputSelect>
        </FormFieldSet>

        <FormFieldSet>
            <label for="trailDescription" class="font-weight-bold text-secondary">Mnemonic</label>
            <InputTextArea @bind-Value="_character.Mnemonic" rows="6" class="form-control" id="trailDescription"/>
        </FormFieldSet>

        <FormFieldSet Width="col-3">
            <label for="trailLength" class="font-weight-bold text-secondary">Number of strokes</label>
            <InputNumber @bind-Value="_character.StrokeCount" class="form-control" id="trailLength"/>
        </FormFieldSet>

        <FormSection Title="..." HelpText="...">

        </FormSection>
        <div class="mt-4 mb-5">
            <div class="row">
                <div class="offset-4 col-8 text-right">
                    <button class="btn btn-outline-secondary" type="button" @onclick="@(() => _character = new CharacterDto())">Reset</button>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </FormSection>
</EditForm>