@using DanilvarKanji.Domain.Shared.Entities
@foreach (Onyomi onyomi in Onyomis)
{
    <div class="row">
        <div class="col mb-3">
            <div class="form-group">
                <InputText @bind-Value="@onyomi.JapaneseWriting" class="form-control bg-secondary txt-white no-border"
                           id="japWriting" placeholder="@Loc["JapaneseWriting"]"/>
            </div>
        </div>

        <div class="col mb-3">
            <button @onclick="@(() => Onyomis.Remove(onyomi))" class="btn btn-link" type="button">
                <CrossInCircle/>
            </button>
        </div>
    </div>
}
<div class="row mt-3">
    <div class="col">
        <button class="btn btn-outline-primary" type="button" @onclick="@(() => Onyomis.Add(new Onyomi()))">@Loc["Add"]</button>
    </div>
</div>

@code
{
    [Parameter] [EditorRequired] public ICollection<Onyomi> Onyomis { get; set; } = default!;

    [Inject] public IStringLocalizer<App> Loc { get; set; } = default!;
}