<div class="@ContentContainerStyles">
    @ContentDictionary[_currentContent];

    @if (_currentContent > 0)
    {
        <button class="btn mt-3 mb-4 @ButtonStyle" @onclick="PrevContent">@PrevBtnText</button>
    }

    @if (_currentContent < ContentDictionary.Count)
    {
        <button class="btn mt-3 mb-4 @ButtonStyle" @onclick="NextContent">@NextBtnText</button>
    }
</div>

@code {

    [Parameter, EditorRequired]
    public required Dictionary<int, RenderFragment> ContentDictionary { get; set; }

    [Parameter]
    public string? ButtonStyle { get; set; }

    [Parameter]
    public string NextBtnText { get; set; } = "Next";

    [Parameter]
    public string PrevBtnText { get; set; } = "Prev";

    [Parameter]
    public Action? OnContentEnd { get; set; }

    [Parameter]
    public string ContentContainerStyles { get; set; } = "mb-4";

    private int _currentContent;

    private void NextContent()
    {
        _currentContent++;

        if (_currentContent >= ContentDictionary.Count)
        {
            _currentContent = 0;
            OnContentEnd?.Invoke();
        }
    }

    private void PrevContent()
    {
        _currentContent--;
        if (_currentContent <= 0)
            _currentContent = 0;
    }

}